.contact__container {
    .contact__banner {
        background-image: url("https://saigon-tourist.com/files/images/banner/trang-h-th-ng.jpg");
        background-size: cover;
        background-position: bottom;
        min-height: 400px;
        padding-top: 134px;
        padding-bottom: 15px;
        position: relative;
        &::after {
            content: "";
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        .contactBanner__item {
            position: relative;
            text-align: center;
            max-width: 700px;
            margin: 0 auto;
            top: 100px;
            z-index: 1;
            .contactBanner__title {
                font-weight: bold;
                font-size: 3rem;
                line-height: 120%;
                font-style: italic;
                color: #fff;
                margin-top: 0;
            }
            hr {
                background-image: url(../../assets/img/hr.png);
                width: 64px;
                height: 10px;
                display: inline-block;
                border: none;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
}
